<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card">
    <h1 class="logo">Shakar somsa</h1>
    <p class="subtitle">Регистрация</p>

    <form method="post" action="/register">
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="phone" placeholder="Телефон" required>
        <button>Войти</button>
    </form>
</div>

</body>
</html>
